<h3><%= @title %></h3>

<%= simple_form_for @car do |f| %>

  <% if @car.errors.any? %>
    <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= simple_fields_for :manufacturer_id do |m| %>
    <%= m.select :manufacturer_id, @manufacturer_names %>
  <% end %>

  <%= f.input :color %>
  <%= f.select :year, (1920..2014).to_a.reverse, include_blank: "Select a Year" %>
  <%= f.input :mileage %>
  <%= f.input :description, placeholder: "Describe your car" %>
  <%= f.submit %>

<% end %>
