<h3>Submit a new Manufacturer</h3>

<%= simple_form_for(@manufacturer) do |f| %>

  <% if @manufacturer.errors.any? %>
    <ul>
      <% @manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :name %>
  <%= f.label :country %>
  <%= f.select :country, Manufacturer::COUNTRIES %><br>
  <%= f.button :submit %>

<% end %>
