
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Manufacturer</h3>
  </div>
  <div class="panel-body">
    <strong>Manufacturer: </strong><%= @manufacturer.name %>
  </div>
  <div class="panel-body">
    <strong>Country: </strong><%= @manufacturer.country %>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Cars</h3>
  </div>
  <% if !@cars.empty? %>
    <% @cars.each do |car| %>
      <div class="panel-body">
        <strong>Color: </strong><%= car.color %>
      </div>
      <div class="panel-body">
        <strong>Year: </strong><%= car.year %>
      </div>
      <div class="panel-body">
        <strong>Mileage: </strong><%= car.mileage %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    test
  </div>
</div>



<h3>Submit a new Car</h3>

<%= simple_form_for [@manufacturer, @car] do |f| %>

  <% if @car.errors.any? %>
    <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :color %>
  <%= f.select :year, (1920..2014).to_a.reverse, include_blank: "Select a Year" %>
  <%= f.input :mileage %>
  <%= f.input :description, placeholder: "Describe your car" %>
  <%= f.button :submit %>

<% end %>
