<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="row">
  <div class="col-md-5" style="float:left;">
    <h2>Such Cars, Such Systems Check</h2>
  </div>
  <div class="col-md-6" style="float:right;text-align:right;">
    <h4><%= link_to "List a Manufacturer", new_manufacturer_path %></h4>
    <h4><%= link_to "Cars", cars_path %> | <%= link_to "Manufacturers", manufacturers_path %></h4>
  </div>
</div>

<hr>

<%= yield %>

<br>
<div class="footer navbar-fixed-bottom">
  <center>
    <p style="color:#713D9C;font-weight: 800;">Created by Jacinda Zhong | Launch Academy Week 7 Systems Check | June 2014</p>
  </center>
</div>

</body>
</html>
